@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
*::-webkit-scrollbar {
   width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
   border-radius: 50px;
   background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
   border-radius: 50px;
   background: #555;
}
